<html>
<head><title>Todo-App</title></head>
<link rel='stylesheet' href='./public/css/style.css'>
<body>
  <h1>Todo</h1>
  <form action="/todo" method="POST">
  <input class="desc" type="text" name="description">
  <!-- <input type="submit" value="ADD"> -->
  <button class="btn1"type="submit">ADD</button>
  </form>
  <ol>
    {{#todos}}
   <li><form action="todo/{{_id}}/completed" method="POST">
     {{description}}
     <button class="btn2" type="submit">Done</button>
   </form>
   </li>
    {{/todos}}
 </ol>
 <ol>
   <h3>Done</h3>
   {{#donetodos}}
     <li><form action="todo/{{_id}}/completed" method="POST">
       {{description}}
       <button class="btn3" type="submit">Not Done</button>
         </form>
     </li>
   {{/donetodos}}
</ol>
</body>
</html>
